.social-button {
  background-color: var(--gray-300);
  color: var(--gray-500);
  font: var(--text-md);
font-weight: 500;
text-decoration: none;

padding: 2rem;
border-radius: 8px;
border: 1.5px solid var(--gray-300);
transition: border-color 0.3s ease-in-out;

display: flex;
justify-content: space-between;
align-items: center;

  > span {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &:hover {
    border-color: var(--blue);
  }
}